body{
    background-image: url(../../../../image/coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    padding: 10px;
    width: 300px;
}
.game{
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}